/* Phones */

body{
    margin: 0;
  	padding: 0;
    height: 100%;
    min-width: 360px;
    font-family: 'Sarala', sans-serif;
    /*background-color: rgb(106, 114, 72);*/
    min-height:100%; 
    display: flex;
    flex-direction: column;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffbf00+0,000000+100 */
    background-color: rgb(255, 191, 0);
}

#headcontainer{
    background-color: rgb(255, 191, 0);
}

#header{
    display: block;
    margin: 0 auto;
   	width: 80%;
    max-width: 450px;
    padding: 20px 0px 20px 0px;
    animation: fadein 2s;
}

#footer{
    position: relative;
    bottom: -50px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 0.65em;
    display: block;
    
}

#footer h4{
    position: relative;
    margin: 0;
    top: 18px;
    padding-left: 20px;
    display: inline;
}

#footer a{
    text-decoration: none;
    color: white;
}

#footer a:hover{
    color: white;
    -webkit-transition: color: 0.3s;
    transition: color 0.3s;
    color: orange;
}

#privacymain {
    padding-bottom: 10px;
    height: 100vh;

}

#privacyinner h2{
    padding-left: 30px;
}

#privacymain a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#privacymain a:hover{
    color: black;
    -webkit-transition: color: 0.3s;
    transition: color 0.3s;
    color: coral;
}
#privacyinner p{
    padding: 0px 30px;
}

#privacyinner{
    width: 95%;
    margin: 0 auto;
    max-width: 800px;
}

#container{
    background-color: antiquewhite;
    
}

#nav{
	  background-color: black;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    background-color: black;
		font-weight: 550;
		font-size: 0.83em;
}

#nav a{
	  margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

#nav a:hover{
		color: white;
		-webkit-transition: color: 0.3s;
		transition: color 0.3s;
		color: coral;
}

#innernav{
    display: block;
    margin: 0 auto;
    width: 95%;
    height: 50%;
    text-align: center;
    position: relative;
    top: 15px;
}

.navelem{
    display: inline;
    width: 25%;
    text-align: center;
    padding: 0px 5% 0px 5%;
}
#main{
	  margin: 0 20px;
      padding: 0;
      padding-bottom: 20px;
}

#mainmenu{
	margin: 20px 10px;
    padding-bottom: 400px;
}

#mainabout{
    padding: 0px 30px;
    padding-bottom: 10px;
    height: 100vh;
}

.homeimg{
	  width: 49%;
    margin: 0;
    padding: 0;
		margin-bottom: 4px;
}



#collagerow{
    line-height: 0;
    margin: 0;
    margin-top: 15px;
		margin-bottom: 5px;
}


/* Contact Page */
#contactdivtop, #contactdivbot{
	width: 100%;
}

#contactdivbot{
    margin-bottom: 50px;
}

#contactdivtop{
	margin-top: 40px;
}

#contactupperinner, #contactlowerinner{
		margin: 0 auto;
		width: 305px;
}


#contactaddress{

    display: inline-block;
    width: 50%;
		min-width: 305px;
		position: relative;
		top: -20px;
		text-align: center;
		white-space: nowrap;
		margin: 0 auto;
}

/*
#contactmapbar{
		min-width: 305px;
		font-size: 0.7em;
		text-align: right;
		line-height: 0px;
}
*/

#viewonmaps{
	background-color: white;
	width: 30%;
	min-width: 190px;
	text-align: center;
	font-size: 0.8em;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 30px;
}

#viewmap{
	color: black;
	text-decoration: none;
}

#contactdivblock{
	min-width: 250px;
	max-width: 300px;
}

#contactdivblock p{
	margin-left: 20px;
}

#contactbusiness{
	min-width: 200px;
	max-width: 250px;
	height: 100%;
    margin: 0 auto;
    text-align: center;
}

#contactbusiness table{
	margin: 0 auto;
    text-align: left;
}

#contactother, #contactparking{
	line-height: 20px;
    margin: 0 auto;
    text-align: center;
}


#contactbusiness table td{
	padding: 0 10px;
    text-align: left;
}

#contactparking{
	
}


/* About page */
#aboutouter{
	width: 100%;
}

#aboutinner{
	width: 95%;
	margin: 0 auto;
}


#aboutimg{
	width: 100%;
	height: auto;
    max-height: 380px;
}

#aboutother{
	margin-bottom: 100px;
	background-color: red;
}


.homeslidercaption{
    display: table;
    font-size: 1em;
    color: white;
    margin: 0 auto;
    text-align: center;
    text-shadow: -1px 0 black;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.homeslidercaption .caption{
    display: table-cell;
    vertical-align: middle;
}

.homeslidercaption .caption h1{
    font-weight: 600;
}

.homeslidercaption .caption h3{
    font-weight: 0;
}

.homeslidercaption a{
    text-decoration: none;
    color: orange;
}

.homeslidercaption a:hover{
    color: orange;
    transition: color 0.5s;
    color: darkorange;
}


/* Menu */


/* Tabs */
.menuheadercontainer{
    width: 100%;
}
.menuheader{
    display: block;
    margin: 0 auto;
    background-color: black;
    border-radius: 5px;
    border-bottom: 0.5px solid white;
    border-top: 0.5px solid white;
    white-space: nowrap;
    max-width: 640px;
}

.menuheader:hover{
    border-top-color: greenyellow;
    border-bottom-color: greenyellow;
}

.menuheadertitle {
    display: inline;
    margin-left: 10px;

}

.triangleside, .triangledown {
    margin-left: 20px;
}

.triangleside{
    display: inline-block;
}

.triangledown {
    display: none;
}

.menua{
    text-decoration: none;
}

.menua:link, .menua:visited, .menua:active{
    color: white;

}

.menua:hover{
    color: greenyellow;
}

#dhmenudi{
    display: none;
    font-size: 0.85em;
    line-height: 13px;
    margin: 0 auto;
    max-width: 650px;
}

#dhmenuto, #dhmenuf, #dhmenub, #dhmenupt{
    display: none;
    font-size: 0.9em;
    margin: 0 auto;
    /* background-color: rgb(85, 93, 80); */
    /* background-color: rgb(191, 79, 20); */
    color: white;
    padding: 10px;
    max-width: 650px;
}

#dineinheader{
    margin-top: 20px;
}

.dineinhead{
    margin-top: 38px;
}


.dineinelem:hover{
    color: black;
    background-color: darkslateblue;
    transition: color,background 0.5s;
    color: chartreuse;
    background-color: darkslategrey;
}

.dineinrow{
    display: inline-block;
    height: 180px;
    width: 100%;
    margin: 0px 1px;
}

.dineinrow a{
    color: black;
    text-decoration: none;
}

.dineinelem{
    display: inline;
    float: left;
    width: 33.33333333333333333%;
    width: calc(100% / 3);
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.dineinimg{
    max-width: 90%;
    height: 80px;
}

.dhmenu, .dhmenustart{
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px black solid;
    box-shadow: 2px 2px grey;
}

.dhmenustart{
    margin-top: 10px;
}


.frozenimg
{
    width: auto;
    height: 100px;
}

.bbqimg{
    /*width: 380px;*/
    width: 100%;
    /*height: 300px;*/
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
		position: relative;
		top: 3px;
}

#frozenannot{
    display: inline-block;
    color: black;
    margin: 0 auto;
    font-size: 0.85em;
    width: 150px;
		position: relative;
		top: -20px;
		text-align: center;
}

@media only screen and (max-width: 650px) {
	  .frozensubcontainer{
				display: table;
				text-align: center;
				position: relative;
		}

	  .frozenimg{
			 display: table-cell;
			 margin: 0 auto;
			 position: relative;
		}

		#frozenannot{
			margin-left: auto;
			margin-right: auto;
			position: relative;
			top: 5px;
		}
}

.frozenimg{
	position: relative;
	top: 10px;
}

.frozenprice,
.bbqprice{
    /*color: chartreuse;*/
    color: forestgreen;
    font-weight: bold;
}

.bbqnotif{
    color: darkorange;
    font-weight: 700;

}

.bbqcontainer{
    display: table;
    margin: 0 auto;
		height: 100%;
		margin-bottom: 10px;
}
.frozencontainer{
    display: inline-block;
    width: 100%;
}

.frozensubcontainer{
    display: inline;
    width: 50%;
    float: left;
}

.frozenimg{
	position: relative;
	top: 10px;
}


#bbqannot
{
    display: block;
    color: black;
		margin: 0 auto;
		text-align: center;
		/*
    position: relative;
    top: -55px;
		left: 20px;
		*/
}
.bbqpic{
		display: table-cell;
		width: 48%;
		height: 100%;
}

.bbqtext{
	display: table-cell;
	width: 48%;
	height: 100%;
	white-space: nowrap;
	vertical-align: middle;
}

#frozenbanner,
#bbqbanner{
    color: chartreuse;
    position: relative;
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    background-color: darkslategrey;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 0;
}

/* */

.swiper-container {
    width: 100%;
    height: 250px;
}


@media only screen and (min-width: 450px) {
    .swiper-container {
        width: 100%;
        height: 275px;
    }
}

@media only screen and (min-width: 485px) {
    .swiper-container {
        width: 100%;
        height: 300px;
    }
}

@media only screen and (min-width: 585px) {
    .swiper-container {
        width: 100%;
        height: 350px;
    }
}

@media only screen and (min-width: 750px) {
    .swiper-container {
        width: 100%;
        height: 380px;
    }
}


@media only screen and (min-width: 768px) {

	#contactupperinner{
			margin: 0 auto;
	        width: 95%;
			max-width: 840px;
	}

	#contactlowerinner{
		margin: 0 auto;
		width: 95%;
		max-width: 600px;
		padding-left: 100px;
	}

	#contactaddress{
	    display: inline-block;
	    width: 50%;
			min-width: 305px;
			max-width: 420px;
			position: relative;
			top: -20px;
			text-align: center;
			white-space: nowrap;
			margin: 0 auto;
	}

	#viewonmaps{
		background-color: white;
		width: 30%;
		max-width: 300px;
		text-align: center;
		font-size: 0.8em;
		border: 1px solid black;
		border-radius: 5px;
		margin: 0 auto;
		margin-top: 10px;
	}

	#contactbusiness{
		display: inline-table;
		width: 50%;
		margin: 0;
		vertical-align: top;
        position: relative;
        left: -50px;
	}

	#contactdivblock{
		display: inline-block;
		width: 45%;
		margin: 0;
        position: relative;
        right: -50px;
	}

	#contactparking{
		padding: 10px 0 40px 0;
	}

	/* About Page */

	#aboutinner{
		max-width: 620px;
	}



}
